<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Roqeeb Yahaya</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/addStudent">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<div style="margin-top: 60px; margin-bottom: 30px;">
						<!-- Start your code here -->
						<h2>Student Information</h2>
						<br>
						<br>
						
						<table class="table" border="1">
							<caption>Student Details</caption>
							<thead>
							  <tr>
							    <th rowspan="2">ID</th>
							    <th rowspan="2">Name</th>
							    <th colspan="2">Contact Information</th>
							  </tr>
							  <tr>
							    <th>Email</th>
							    <th>Phone</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
							    <td>1</td>
							    <td>John Doe</td>
							    <td>john.doe@example.com</td>
							    <td>555-555-1212</td>
							  </tr>
							  <tr>
							    <td>2</td>
							    <td>Jane Doe</td>
							    <td>jane.doe@example.com</td>
							    <td>555-555-1213</td>
							  </tr>
							  <tr>
							    <td>3</td>
							    <td>Jim Smith</td>
							    <td>jim.smith@example.com</td>
							    <td>555-555-1214</td>
							  </tr>
							</tbody>
							<tfoot>
							  <tr>
							    <td colspan="4">Last Updated: 02/09/2023</td>
							  </tr>
							</tfoot>
						   </table>
						   
						   <table class="table" border="1">
							<caption>Student Grades</caption>
							<thead>
							  <tr>
							    <th>ID</th>
							    <th>Name</th>
							    <th>Subject</th>
							    <th>Grade</th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
							    <td>1</td>
							    <td>John Doe</td>
							    <td>Math</td>
							    <td>A</td>
							  </tr>
							  <tr>
							    <td>2</td>
							    <td>Jane Doe</td>
							    <td>Science</td>
							    <td>B</td>
							  </tr>
							  <tr>
							    <td>3</td>
							    <td>Jim Smith</td>
							    <td>History</td>
							    <td>C</td>
							  </tr>
							</tbody>
							<tfoot>
							  <tr>
							    <td colspan="4">Last Updated: 02/09/2023</td>
							  </tr>
							</tfoot>
						   </table>
					   
					   	<p>This section displays the student information and grades for a class. The first table contains the student details, including their ID, name, email, and phone number. The second table contains the student grades, including their ID, name, subject, and grade. The <b>'caption'</b> element provides a brief description of the table's contents, while the <b>'thead'</b> element is used to specify the header row. The <b>'tbody'</b> element is used to define the body of the table and the <b>'tfoot'</b> element defines the footer. The <b>rowspan</b> and <b>colspan</b> properties are not used in this example, but can be added if desired.</p>
					</div>
					   
					<div style="margin-top: 60px; margin-bottom: 30px;">
						<h2>List of Accomplishments and Skills</h2>
						<ul>
							<li>Award-winning public speaker</li>
							<li>Certified project manager 
							<ol>
								<li>PMP certified</li>
								<li>Agile certified</li>
								<li>Six Sigma Green Belt</li>
							</ol>
							</li>
							<li>Proficient in HTML, CSS and JavaScript</li>
							<li>Fluent in French and Spanish</li>
							<li>Experienced in data analysis
							<ul>
								<li>Expert in SQL</li>
								<li>Skilled in R and Python</li>
								<li>Familiar with Tableau</li>
							</ul>
							</li>
						</ul>
						<p>This section uses an unordered list <b>'ul'</b> as the parent list and one of the items contains an ordered list <b>'ol'</b> as a nested list. The items in the list are specified using <b>'li'</b> elements, and the list items can contain any desired content such as text, images, or links.</p>
					</div>
						
					<div style="margin-top: 60px; margin-bottom: 30px;">
						<h2>Image Gallery</h2>

						<img width="500" src="https://images.pexels.com/photos/753312/pexels-photo-753312.jpeg?cs=srgb&dl=pexels-julius-silver-753312.jpg&fm=jpg" alt="A scenic view of a mountain range"><br><br>
						<img width="500" src="https://media.istockphoto.com/id/1023938908/photo/agave-leaves.jpg?s=612x612&w=0&k=20&c=_I1jiUuVvSOLgO7o3g8-UdeG7YVIgWBYEv5IhIWPXdE=" alt="A close-up of a colorful flower"><br><br>
						<img width="500"src="https://media.istockphoto.com/id/1156527160/photo/new-york-streets-high-buildings-and-crowd-walking.jpg?s=612x612&w=0&k=20&c=iPr6buP-X6Iv-OQ2SQofNwFw53UfLldsz6Tf4KNgdzE=" alt="A bustling city street with tall skyscrapers">
						<br>
						<br>
						<p>The Image Gallery section showcases a collection of visually appealing images. The section is composed of at least 3 images, each accompanied by descriptive alt text to provide context for visually impaired users. The images in this section are diverse, including scenic views, close-ups of nature, and bustling city scenes. The images aim to add an element of visual interest to the page and provide a visual representation of the content being presented.</p>
					</div>
						
					<div style="margin-top: 60px; margin-bottom: 30px;">
						<h2>Audio Gallery</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
							our browser does not support HTML5 Audio
						</audio>
						<br>
						<br>
						<p>The Audio Gallery section contains HTML 5 audio players. The audio controls tag is used to specify that the audio player should include controls for playing and pausing the audio. Within audio tag, the source tag specifies the source of the audio file, in this case a .mp3 file with a source URL. The type attribute specifies the type of audio file being used. The audio player will be able to play the audio file if the browser supports .mp3 audio files.</p>
					</div>
						
					<div style="margin-top: 60px; margin-bottom: 30px;">
						<h2>Video Gallery</h2>
						<video width="400" controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
						<br>
						<br>
						<p>The Video Gallery section contains HTML 5 video players. TML 5 video player with a width of 400 pixels. The "controls" attribute enables playback controls such as play, pause, and volume. The "source" element specifies the video source and the type of video file (mp4 or ogg). The text between the "video" tags will display in case the browser does not support HTML5 video.</p>
					</div>
				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>